@using Microsoft.AspNetCore.Components.Authorization
@using FuelStation.Blazor.Client.Authentication;
@*@inherits LayoutComponentBase*@
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Fuel Station</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <CascadingAuthenticationState>
        <AuthorizeView Roles="Manager, Cashier">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="customerList">
                        <span class="oi oi-person" aria-hidden="true"></span> Customers
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Manager, Staff">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="itemList">
                            <span class="oi oi-tag" aria-hidden="true"></span> Items
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Manager">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="employeeList">
                            <span class="oi oi-people" aria-hidden="true"></span> Employees
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="monthlyLedger">
                            <span class="oi oi-graph" aria-hidden="true"></span> Monthly Ledger
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                        <NavLink class="nav-link" href="stationSettings/edit/1">
                            Station Settings
                    </NavLink>
                </div>
            </Authorized>
       </AuthorizeView>
       
             <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <a @onclick="Logout" href="javascript:void(0)">Logout</a>
                    </div>
                </Authorized>
            </AuthorizeView>
            
       </CascadingAuthenticationState>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout() {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);
    }
}
